{{#if (isArray words)}}
<div class="card bg-light lg-12">
    <div class="card-header accord" data-toggle="collapse" data-target="#{{listId}}" aria-expanded="true"
        aria-controls="{{listId}}">
        {{label}} ({{words.length}})
    </div>
    <div class="card-body">
        <div class="collapse show" id="{{listId}}">
            {{#each words as | word |}}
            <div class="words" data-word="{{word.word}}" data-search-term="{{original}}" data-value="{{word.value}}" data-values="{{stringify word.values}}">
                <span class="letters">
                    {{ word.word }} | 
                    <span class="{{pillBadge word.value}} badge-pill">{{word.value}}</span>
                </span>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}